.wrapper, html, body {


    height: 100%;
    margin: 0;
    border-style: solid;
    border-color: black;


}

.wrapper {

    background-color: wheat;
    display: grid;
    grid-template-columns: 1fr 7fr;

}

#sidebar {

    background-color: lightslategray;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: 1fr 5fr;

}

#addsection {

    background-color: black;
    grid-row: 1 / 2;

}


#listsection {

    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#mainsection {

    background-color: wheat;
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 2fr 5fr;


}



#searchsection {

    background-color: gray;
    grid-row: 1 / 2;


}

#itemsection {

    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.notebox {

    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: black;

}

.topsection {

    margin-bottom: 0;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.middlesection {

    margin-top: 0;

}

.deleteButton {

    border-radius: 25px;
    margin: 5px;

}

.editButton {
    margin-left: auto;
    border-radius: 5px;


}

