.wrapper, html, body {


    height: 100%;
    margin: 0;
    border-style: solid;
    border-color: red;


}

.wrapper {

    background-color: green;
    display: grid;
    grid-template-columns: 1fr 7fr;

}

#sidebar {

    background-color: yellow;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: 1fr 5fr;


}

#addsection {

    background-color: brown;
    grid-row: 1 / 2;


}


#listsection {

    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#mainsection {

    background-color: blue;
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 1fr 5fr;


}



#searchsection {

    background-color: green;
    grid-row: 1 / 2;


}

#itemsection {

    grid-row: 2 / 3;

}