.wrapper, html, body {


    height: 100%;
    margin: 0;
    border-style: solid;
    border-color: black;


}

.wrapper {

    background-color: wheat;
    display: grid;
    grid-template-columns: 1fr 7fr;

}

#sidebar {

    background-color: lightslategray;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: 350px 5fr;

}

#addsection {

    background-color: black;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}


#newitemButton {

    height: 140px;
    width: 140px;
    border-radius: 80px;

}

#deleteAllButton {

    height: 140px;
    width: 140px;
    border-radius: 80px;

}

#listsection {

    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#listsectiondiv {

    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#linkforSortByDateDue, #linkforShowAll, #linkforPriority {

    height: 140px;
    width: 140px;
    border-radius: 80px;


}

#mainsection {

    background-color: wheat;
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 350px 5fr;


}



#searchsection {

    background-color: gray;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;

   


}

#itemsection {

    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.notebox {

    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: dotted;
    border-color: black;

}

.topsection {

    margin-bottom: 0;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.middlesection {

    margin-top: 0;

}

.deleteButton {

    border-radius: 25px;
    margin: 5px;

}

.editButton {
    margin-left: auto;
    border-radius: 5px;


}

#editform {

    position: fixed;
    border-style: solid;
    border-color: red;

    height: 600px;
    width: 1000px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;
    background-color: brown;
    



}

#additionform {

    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: 2 / 3;
    align-items: center;
    margin-top: 10px;

    /*
    margin-left: 50px;
    margin-top: 5px;
    */



}



#additionform > div {

    display: flex;
    gap: 50px;


}

#radiocontainer {
    
    gap: 0px !important;

}

#descriptionform, #titleform {

    width: 600px;

    
}

#descriptionform {

    height: 30px;

}

#monthform, #dateform, #yearform, #hourform, #minuteform {

    width: 50px;

}

.addlabel {

    width: 75px;
}